
data/World_GDP_constant_2000_2017.matx

data/entity_global_without_assets.mat

data/night_light_2010_10km.mat

data/World_GDP_current_1960_2010.mat

data/World_GDP_current_1960_2010.mat

docs/20141202_climada_additional_GDP_BASED_ENTITY.docx

data/night_light_2012_1km.mat

data/night_light_2012_1km.txt

data/world_50m.mat

code/climada_entity_save_xls_OLD.m

data/World_GDP_current.mat
